<header xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <a class="nav-link" href="/company/all">COMPANIES</a>
                        </li>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <a class="nav-link" href="/company/create">CREATE COMPANY</a>
                        </li>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <a class="nav-link" href="/job-position/all">POSITIONS</a>
                        </li>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <a class="nav-link" href="/job-position/create">CREATE JOB POSITION</a>
                        </li>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <a class="nav-link" href="/job-ad/all">ADS</a>
                        </li>
                    </div>
                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <a href="/login" class="btn btn-primary">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-secondary">Sign Out</button>
                            </form>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>