<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title th:text="${companyDto.name}"></title>
</head>
<body class="bg-light">
<!--HEADER-->
<th:block th:include="~{fragments/header}"></th:block>
<!--END HEADER-->
<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="card p-4">
        <h1 th:text="${companyDto.name}" class="text-center mb-4"></h1>
        <form th:action="@{/company/update}" method="POST" th:object="${companyDto}" class="needs-validation" novalidate>
            <input type="hidden" th:field="*{id}">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label th:field="*{companyStatus}" class="mr-sm-2" for="inlineFormCustomSelect">Status</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" th:field="*{companyStatus}"
                            required>
                        <option selected disabled th:value="null">Choose...</option>
                        <option th:value="B2B">B2B</option>
                        <option th:value="NO_B2B">NoB2B</option>
                        <option th:value="PROSPECT">PROSPECT</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="websiteUrl">Website</label>
                <input th:field="*{websiteUrl}" type="text" class="form-control" id="websiteUrl" required>
                <div class="invalid-feedback">Please provide a website URL.</div>
            </div>
            <div class="form-group">
                <label for="companyPlatform">Company platform association. Example: https://dev.bg/company/company-name/, https://job.bg/company/company-name/</label>
                <textarea th:field="*{platformAssociations}" class="form-control" id="companyPlatform" rows="3"></textarea>
            </div>
            <button class="btn btn-dark" type="submit">SAVE</button>
        </form>
    </div>
</div>
</body>
</html>
