<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
</head>
<body>
<h1>Company List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Website</th>
        <th>Status</th>
        <th>Associated platforms</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${companies}">
        <td th:text="${company.id}">ID</td>
        <td th:text="${company.name}">Name</td>
        <td th:text="${company.websiteUrl}">Website:</td>
        <td th:text="${company.companyStatus}">Status:</td>
        <td>
            <ul id="platformAssociations">
                <li th:each="platformAssociation : ${company.platformAssociations}">
                    <span th:text="${platformAssociation}"></span>
                    <form th:action="@{/platform/{id}(id=${platformAssociation.id})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<h1>Job Positions and ads</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Detailed filters</th>
        <th>Job filters</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jobPposition : ${jobPositions}">
        <td th:text="${jobPposition.id}">ID</td>
        <td th:text="${jobPposition.name}">Name</td>
        <td th:text="${jobPposition.detailedFilters}">Detailed Filters:</td>
        <td th:text="${jobPposition.jobFilters}">Job Filters:</td>

    </tr>
    </tbody>
</table>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.delete-button').click(function() {
            var associationId = $(this).data('id');
            $.ajax({
                type: 'DELETE',
                url: '/platform/' + associationId,
                success: function() {
                    $('#platformAssociation-' + associationId).remove(); // Remove the deleted platform association from the UI
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>


</html>
