<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Job Ads</title>
</head>
<body>
<!--HEADER-->
<th:block th:include="~{fragments/header}"></th:block>
<!--END HEADER-->
<h1>Job Ad List</h1>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<table class="table" id="table">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Job Position</th>
        <th>Job ad url</th>
        <th>Source</th>
        <th>Region</th>
        <th>Post Date</th>
        <th>Status</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Change Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ad : ${ads}">
        <td th:text="${ad.id}"></td>
        <td th:text="${ad.jobFilterId}"></td>
        <td><a target="_blank" th:href="${ad.jobAdUrl}" th:text="${ad.jobAdUrl}"></a></td>
        <td th:text="${ad.source}"></td>
        <td th:text="${ad.region}"></td>
        <td th:text="${ad.postDate}"></td>
        <td th:text="${ad.status}"></td>
        <td th:text="${#temporals.format(ad.createdAt, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(ad.updatedAt, 'yyyy-MM-dd')}"></td>
        <td>
            <form th:action="@{/job-ad/update/{id}(id=${ad.id})}" method="POST">
                <select name="newStatus" onchange="this.form.submit()">
                    <option selected disabled>Choose...</option>
                    <option th:each="stat : ${statuses}" th:text="${stat}" th:value="${stat}"></option>
                </select>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</body>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "dom": "tp",
            "ordering": true,
            "pagingType": "simple",
            "lengthMenu": [ 20 ]
        });
    });
</script>
</html>