<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Job Ads</title>
</head>
<body>
<!--HEADER-->
<th:block th:include="~{fragments/header}"></th:block>
<!--END HEADER-->
<h1>Job Ad List</h1>
<form action="#" th:action="@{/job-ad/manualCrawl}" method="post">
    <label for="site">Select a site to manual crawl:</label>
    <select id="site" name="site">
        <option value="devbg">dev.bg</option>
        <option value="dice">dice.com</option>
        <option value="freelancermap">freelancermap.com</option>
    </select>
    <button type="submit">Crawl</button>
</form>
<input class="form-control" id="myInput" type="text" placeholder="Search..">

<button id="exportBtn">Export to Excel</button>
<table class="table" id="table">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Job Position</th>
        <th>Job ad url</th>
        <th>Source</th>
        <th>Region</th>
        <th>Post Date</th>
        <th>Status</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Change Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ad : ${ads}">
        <td th:text="${ad.id}"></td>
        <td th:text="${ad.jobFilterId}"></td>
        <td><a target="_blank" th:href="${ad.jobAdUrl}" th:text="${ad.jobAdUrl}"></a></td>
        <td th:text="${ad.source}"></td>
        <td th:text="${ad.region}"></td>
        <td th:text="${ad.postDate}"></td>
        <td th:text="${ad.status}"></td>
        <td th:text="${#temporals.format(ad.createdAt, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(ad.updatedAt, 'yyyy-MM-dd')}"></td>
        <td>
            <form th:action="@{/job-ad/update/{id}(id=${ad.id})}" method="POST">
                <select name="newStatus" onchange="this.form.submit()">
                    <option selected disabled>Choose...</option>
                    <option th:each="stat : ${statuses}" th:text="${stat}" th:value="${stat}"></option>
                </select>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</body>
<script>
$(document).ready(function () {
    $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#table tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    // Function to export table data to Excel
    function exportToExcel() {
        // Select the table element
        var table = document.getElementById("table");

        // Remove the last column from the table
        $("#table tr").each(function () {
            $(this).find("td:last").remove();
        });

        // Convert table to Excel workbook
        var workbook = XLSX.utils.table_to_book(table);

        // Save the workbook as an Excel file
        XLSX.writeFile(workbook, 'job_ads.xlsx');
    }

    // Event listener for export button click
    $("#exportBtn").on("click", function () {
        exportToExcel();
    });
});

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "dom": "ltp",
            "ordering": true,
            "pagingType": "simple",
            "lengthMenu": [ 10, 20, 50, 100, -1 ] // Options for the number of rows per page, -1 for all rows
        });
    });
</script>

</html>
